@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');


@media screen {

  /*****************************************************
  PAGE SETUP
  *****************************************************/


  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;
    background-color: #fefefe;
    font-size: 14px;
  }

.navbar {
  height:60px;
}

  .main {
    margin-top:60px;
  }

  .container-fluid {
    text-align:left;
  }

  .single-col {
    margin: 0 15%;
  }

  .lg-left-col {
    margin: 0 1.5%;
  }

  .building {
  width:100%;
  }

  .sidebar {
    font-size:80%;
    color:#999;
  }



/*****************************************************
MAP PAGE
*****************************************************/

#mapid, #slider {
  width: 60%;
  margin-left:15px;
  float:left;
  clear:both;
}

#mapid {
    height: 400px;
}

#slider {
  clear:both;
}

#info {
  width:40%;
  background-color: #ccc;
}

/*****************************************************
HOME PAGE
*****************************************************/

.jumbotron {
    margin-bottom: 0px;
    background-image: url('../images/church.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    max-height: 60%;
  }

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  margin-bottom: 1.5em;
}


.home-text p {
  font-family: 'Raleway', sans-serif;
  text-align:justify;
  margin-top:1em;
}

.home-section-head {
  font-family: 'Raleway', sans-serif;
  padding: 1em 0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}

p.title-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color:#eeeeee;
  line-height: 1.4em;
}


/*****************************************************
HEADERS
*****************************************************/

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  text-align:left;
  margin: 3rem 0 .4rem 0;
}

h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin-bottom:1em;
}


.home-title h1 {
  font-family: 'Abril Fatface', sans-serif;
  color:#fff;
  font-size: 4em;
  margin-top: -1.2em;
  margin-bottom: .2em;
}


h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size:1.5rem;
  text-transform:uppercase;
  font-weight:bold;
}

h5 {
  text-transform:uppercase;
  font-size:1.4rem;
}


hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p.abstract {
  border:1px solid gray;
  background-color: #e5d3bb;
  padding:2em;
  font-size: 90%;
  margin: 3em 0 4em 0em;
}

p.author {
  margin: .5em 0 0em 0;
  text-align: center;
  text-transform: uppercase;
  color:#666;
}

blockquote {
  margin: -1em 4em 1em 4em;
  font-size: 90%;
  border:none;
}


a {
  color: #337ab7;
  color: #9a4031;
}

a:visitd {
 color: #9a4031;
}

a:hover {
 color: #9a4031;
}

ul {
  width:62%
}

li {
margin-bottom:.4em;
font-size:1.2rem;
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}

.has-pullquote:before {
  /* Reset metrics. */
  padding: 0em;
  border: 0px solid #ccc;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 20em;
  margin: 0em 0 1em 2em;

  /* Baseline correction */
  position: relative;
  top: 5px;

  /* Typography (30px line-height equals 25% incremental leading) */
  font-family: Roboto;
  font-weight: 400;
  font-size: 120%;
  line-height: 130%;
  text-align: justify;
}

main {
  margin: 0 1.5%;
}

.lg-left-col p {
    width: 63%;
}

.full-width {
  margin-bottom:2rem;
}

.full-width p {
  width:100%;
  padding: 0 15%;
  margin:0;
}

.single-col aside {
  width: 30%;
  float:right;
}

.single-col aside p{
  font-size:90%;
  line-height:1.6rem;
  padding:0 0rem;
  margin:0;
  text-align:left;
  width:100%;
}


.lg-left-col aside {
position:absolute;
width: 30%;
float:left;
}

.lg-left-col aside p{
  font-size:90%;
  line-height:1.6rem;
  padding:0 0rem;
  margin:0;
  text-align:left;
  width:100%;
}

aside.aside-right {
float:left;
margin-left:64%;
}

aside.aside-left {
float:left;
left:0;
}

.pullquote {
  border-top:.2rem solid #333;
  border-bottom:.2rem solid #333;
}

.pullquote p{
  font-family:'Raleway';
  font-size:130%;
  padding: 1rem 0;
  line-height:2.3rem;
}

.lg-left-col .pullquote p{
    font-size:130%;
    font-family:'Raleway';
    font-size:130%;
    padding: 1rem 0;
    line-height:2.3rem;

}
/*****************************************************
IMAGES
*****************************************************/


figure.img-right-col {
  float:left;
  position:absolute;
  width: 30%;
  margin-left:64%;
}

.img-right-side {
  display:inline;
  clear:none;
  float:right;
  margin-right:-140px;
  /* no bottom padding; handled with caption */
  padding:0 0px 0px 0em;
  width:250px;
}

figure {
  margin-bottom:0;
  clear:none;
  margin:none;
  /* no bottom padding; handled with caption */
  width:30%;
}

.img-right {
  float:right;
  padding:0 0px 0px 2rem;
  text-align:left;
}

.img-left {
  float:left;
  padding:0 2rem 0px 0px;
}

.img-center-full {
  width:100%;
}

figcaption {
  font-size: 80%;
  color:#666;
  font-family: 'Oxygen', sans-serif;
  display:block;
  margin:.2em 0 0em 0;
  clear:both;
  width: 250px;
  line-height: 1.3em;
}

figcaption.img-right {
  text-align: right;
}

figcaption.img-left {
  text-align: left;
}

figcaption p {
  margin:0;
  padding:0;
}

footer {
  margin-top:2em;
  padding: 2em;
  background-color: #823b3b;
  color:#ccc;
  text-align: center;
}




} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/

  @media (max-width: 768px) {


  main {
    margin: 0 1.5%;
  }

.lg-left-col p{
  width:100%;
}

  aside {
  position:relative;
  width:100%;
  padding: .4em;
  border:1px solid #ccc;
  background:#fefefe;
  margin-bottom:1em;
  }

aside.aside-right {
  margin-left:0;
  left:0;
  width:100%;
}

aside p{
  margin:0;
}

figure.img-right-col {
  position:relative;
  width: 100%;
  margin: 1rem 0 1rem 0;
}

}
