---
layout: building
title: Perry Building
date: 2017-02-19
---

{% include marginrow.html
  left="here is some sidebar text, but not too much"
  right="/images/perry-building.jpg"
  middle="
  <li>
    First funded by the Depression-era WPA in 1934, it took its name from its original location: Perry Elementary School at Packard and Madison. The building was named for Walter S. Perry, a former Ann Arbor superintendent of schools.
  </li>
  <li>
    Ann Arbor Perry School was known as an excellent school dedicated to serving one-parent families.
  </li>
  <li>
  During World War II, it got funding under the Lanham Act, created to free mothers to work in the defense industry.
  </li>
  "
%}



{% include marginrow.html
  left="more sidebar text further down; no image this time."
  middle="
  <li>
    After the war, community activists organized to keep the school in operation, realizing that there were many single women, divorced or widowed, still in need of the service. Before the arrival of the Pill and women's liberation, unplanned pregnancies often led to students quitting high school and a quick marriage--which often resulted a few years later in divorce and a life of low-paying jobs. Perry became a United Way Agency and charged on a sliding scale.
  </li>
  "
%}


{% include marginrow.html
  right="/images/perry-building.jpg"
  middle="
  <li>
    School was known in later years to host at risk children (single-parent household or low income)
  </li>
  "
%}


{% include marginrow.html

  middle="
  <h2>The University bought the Perry building in 1967</h2>
  <li>
    While the campus location made it easy to recruit additional help from education students as well as those studying psychology and nursing, by 1991 the old building needed more work than the nonprofit could easily afford.
  </li>

  <li>
    Fortunately, the board found a buyer for the Washtenaw building just as the Packard building, which was designed from the ground up as a preschool, came on the market. The location was also easier to reach for parents from outside Ann Arbor.
  </li>
  <li>
    Currently home to Inter-university Consortium for Political and Social Research (established 1962), a center that \"maintains and provides access to a vast archive of social science data for research and instruction\"
  </li>
  "
%}


<h2>Bibliograhy</h2>
<a href="http://home.isr.umich.edu/about/contact-us/"></a>
<a href="http://www.demariabuild.com/projects/perry-building-phase-i-2-renovation/"></a>
<a href="https://en.wikipedia.org/wiki/Inter-university_Consortium_for_Political_and_Social_Research"></a>
<a href="https://localwiki.org/ann-arbor/Perry_Building"></a>
<a href="http://annarborobserver.com/articles/which_perry__full_article.html"></a>
