<!-- Static navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.baseurl}}/">Displaced Histories</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{site.baseurl}}/about">About</a></li>
              <li><a href="{{site.baseurl}}/map">Map</a></li>
              <li><a href="{{site.baseurl}}/directory">Directory</a></li>
              <li><a href="{{site.baseurl}}/bibliography">Bibliography</a></li>
              <!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Summaries</a>
                <ul class="dropdown-menu">
                  <li><a href="{{site.baseurl}}summaries/perry-building.html">Perry Building</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Explore</li>
                  <li><a href="#">Directory</a></li>
                </ul>
              </li>
            -->
              <li><a href="{{site.baseurl}}/writing-guide">Writing Guide</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sample Layouts</a>
                <ul class="dropdown-menu">
                  <li><a href="{{site.baseurl}}/sample-single-col">single-col</a></li>
                  <li><a href="{{site.baseurl}}/sample-single-col-jumbo">single-col with jumbotron</a></li>
                  <li><a href="{{site.baseurl}}/sample-lg-left-col">lg-left-col</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
      </nav>
