<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{site.baseurl}}/">Displaced Histories</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/map">Map</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/directory">Directory</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/bibliography">Bibliography</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/writing-guide">Writing Guide</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sample Layouts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a href="{{site.baseurl}}/samples/sample-single-col">single-col</a>
          <a href="{{site.baseurl}}/samples/sample-single-col-jumbo">single-col with jumbotron</a>
          <a href="{{site.baseurl}}/samples/sample-lg-left-col">lg-left-col</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
